@font-face {
  font-family: "WavvePADO-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.second {
  background-color: #f1eee1;
}
.containers {
  max-width: var(--max-width);
  margin: 0 auto;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.btn {
  background-color: #e2d7c4;
  border-radius: 50%;
  padding: 15px;
}

.box {
  background-color: var(--neutrals-gray-10);
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 10px;
}

.box > span {
  font-family: "WavvePADO-Regular";
}

.box > i {
  color: var(--primary-purple-300);
}

.box > img {
  width: 100px;
  height: 100px;
}
